.main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 79vh;
}

.main_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_div_image {

    height: 25vw;
}

.main_div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_description {


}


